body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#offerings {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.offering {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.offering:hover {
    transform: scale(1.04);
}

.offering img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

#details {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.details-content {
    display: none;
    flex-direction: column;
    align-items: center;
}

.details-content img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}